.advantages-container{
    width: 100%;
    padding: 80px;
    background: #f5f5f5;
}
.title-section .title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.title-section .title:before{
    content: 'A';
    font-family: lato,sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #202020;
    line-height: 80px;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: -23px;
    margin-left: -25px;
    -ms-filter: "alpha(opacity=10)";
    filter: alpha(opacity=10);
    opacity: .1;
}
.title-section .title:after{
    position: absolute;
    left: 50%;
    margin-left: -125.5px;
    bottom: -39px;
    background: url("https://themesflat.com/html/medicare/images/icon/line.png") no-repeat center center;
    content: "";
    width: 251px;
    height: 12px;
}
.title .bold-title{
    margin-left: 10px;
    font-weight: 700;
}
.advantages-content{
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
}
.advantages-left-section{
    display: flex;
    justify-content: end;
    width: 55%;
    z-index: 3;
    margin-top: 56px;
    margin-right: -80px;
}
.advantages-box{
    background: #ffffff;
    padding: 85px;
    width: 652px;
    height: 529px;
}
.advantages-right-section{
    width: 50%;

}
.advantages-we-are-bottom-container{
    display: flex;
    margin-top: 100px;
}
.advantages-bottom-container{
    display: flex;
    justify-content: space-between;
}
.advantages-item {
    cursor: pointer;
}
.advantages-item .advantages-box{
    transform: rotate(-45deg) scale(0.8);
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
    transition: .3s all ease;
    width: 72px;
    height: 72px;
}
.advantages-item .advantages-box:hover{
    border: 1px solid #2BB0EF;
    max-width: 72px;
    max-height: 72px;
}
.active .advantages-box{
    border: 1px solid #2BB0EF;
    max-height: 72px;
    max-width: 72px;
    transform: rotate(-45deg) scale(1);
}
.active .advantage-item .advantages-box .advantages-box-content{
    background: #2BB0EF;
    border: 1px solid #2BB0EF;
}

.advantages-item .advantages-box .advantages-box-content{
    color: white;
    align-items: center;
    height: 56px;
    display: flex;
    justify-content:center ;
    width: 56px;
    background: #000000;
}
.active .advantages-box-content{
    background-color: #2BB0EF!important;
}
.advantages-item .advantages-box .advantages-box-content:hover{
    background: #2BB0EF;
    border: 1px solid #2BB0EF;
}
.advantages-box-content-icon{
    transform: rotate(45deg);
}
.advantages-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}
.advantages-title:after{
    position: absolute;
    left: 50%;
    top: 46px;
    width: 30px;
    height: 2px;
    background-color: #202020;
    content: "";
    margin-left: -15px;

}
.advantages-explanation{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.advantages-explanation p{
    width: 100%;
    margin-top: 10px;
    letter-spacing: 1px;
}
.advantage-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
/*IPHONE BAŞLANGIÇ*/
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .advantages-container{
        padding: 0;
        padding-top: 50px!important;
        margin-top: 50px;
    }
    .advantages-content{
        flex-direction: column;
        margin-top: 0;



    }
    .advantages-left-section{
        width: 100%;
    }
    .advantages-left-section .advantages-box{
        width: 100%;
    }
    .advantages-right-section{
        width: 100%;
        margin-bottom: 40px;
    }
    .advantages-right-section .image-box img{
        max-width: 100%;
    }
    .advantages-explanation{
        padding-left: 20px;
        padding-right: 20px;
    }
    .advantages-box{
        padding: 0;
        height: 100%;
    }
    .advantages-bottom-container{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantages-item{
        padding-right: 20px;
        padding-left: 20px;
    }
    .advantage-button-area{
        margin-top: 0;
        padding-bottom: 30px;
    }
    .advantage-button-area span{
        margin-left: 0!important;
    }

}
/*IPHONE BİTİŞ*/
/*IPAD AIR BAŞLANGIÇ*/
@media only screen and (min-width: 768px) and (max-width:992px) {
    .advantages-container{
        padding: 0;
        padding-top: 50px!important;
        margin-top: 50px;
    }
    .advantages-content{
        flex-direction: column;
        margin-top: 0;
    }
    .advantages-left-section{
        width: 100%;
    }
    .advantages-left-section .advantages-box{
        width: 100%;
    }
    .advantages-right-section{
        width: 100%;
        margin-bottom: 40px;
    }
    .advantages-explanation{
        padding-left: 20px;
        padding-right: 20px;
    }
    .advantages-box{
        padding: 0;
        height: 100%;
    }
    .advantages-bottom-container{

        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages-content{
        padding-left: 40px;
        padding-right: 40px;
    }
    .advantages-item{
        padding-right: 20px;
        padding-left: 20px;
    }
    .advantage-button-area{
        margin-top: 0;
        padding-bottom: 30px;
    }
    .advantage-button-area span{
        margin-left: 0!important;
    }

    }
/*IPAD AIR BİTİŞ*/
/*Bilgisayar BAŞLANGIÇ*/

@media only screen and (min-width: 993px) and (max-width:1400px) {



}
/*Bilgisayar Bitiş*/
