.appointment-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

/*LEFT SECTION FORM SECTION STARTED*/
.appointment-left-container{
    flex-direction: column;
    display: flex;
    width: 50%;
    margin-top:100px;
}
.form-area{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.info-area{
    display: flex;
    width: 100%;
    margin-bottom: 13px;
    position: relative;

}
.top-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-area:first-child{
    margin-top: 0;
}
.info-area::before{
    content: "";
    width: 4px;
    height: 4px;
    background-color: #202020;
    position: absolute;
    bottom: -2px;
    transition: all .3s ease 0s;
    transform: rotate(45deg);
    z-index :2;
}
.left-form{
    margin-right: 20px;
}
.info-area .text-item{
    padding-bottom: 10px;
    padding-top: 30px;
    width:320px ;
    position: relative;
    background: transparent;
    border: none;
    border-bottom: 1px solid #202020;
    display: flex;
    font-style: italic;
    transition: .3s;
}
.info-area select{
    padding-bottom: 10px;
    padding-top: 30px;
    width:320px ;
    position: relative;
    background: transparent;
    border: none;
    border-bottom: 1px solid #202020;
    display: flex;
    font-style: italic;
    transition: .3s;
}
.info-area select:focus{
    outline: none;
}
.text-item:focus{
    outline: none;
    border-color: #2bb0ef;
}
.text-item:hover{
    border-color: #2bb0ef;
}
textarea:focus{
    border-color: #2bb0ef;
    outline: none;
}
textarea:focus{
    border-color: #2bb0ef;
}
.info-area textarea{
    width: 200%;
}
.info-area input::placeholder{
    font-style: italic;
    margin-bottom: 20px;
    color: #202020;
}
.date-and-time{
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-top: 25px;
    width: 100%;
}
.date-and-time span{
    color: #545454;
    margin-bottom: 10px;
}
.text-area{
    display: block;
}
.text-area .text-item{
    display: block;
    height: 150px;
    width: 80%!important;
}
/*LEFT SECTION FORM SECTION ENDED*/
/* RİGHT SECTİON STARTED*/
.appointment-right-container{
    display: flex;
    width: 50%;
    background: url("https://themesflat.com/html/medicare/images/bg-testimonials-home1.jpg") no-repeat center;
    background-size: cover;
    padding: 174px 70px 174px 80px;
    margin-left: auto;
    text-align: center;
}
.appointment-right-container .appointment-img{
}
.appointment-card{
    padding:70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: .80;
}
.appointment .quotes{
    color: #2bb0ef;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2bb0ef;
    border-radius: 50%;
    background-color: #2bb0ef;
    padding: 30px;
}
.quotes-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #11adf3;
    border-radius: 50%;
    background-color: #11adf3;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 35px;
}
.appointment-paragraph{
    width: 90%;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 17px;
    text-align: center;
}
.appointment-author{
    margin-top: 25px;
}
.appointment-author{
    position: relative;

}
.appointment-author:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 1px;
    top: -30px;
    left: 50%;
    background-color: #2bb0ef;
}
.appointment-author-name{
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: .8px;
}
.appointment-job{
    font-size: 12px;
}


/*Slider - img */
.prev-next2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px !important;
    background-color: #000000;
    transition: .3s all ease-in-out;
    color: #ffffff;
}
.splide__arrow{
    background:transparent;
}
.prev-next2:hover{
}
.splide-img{
}