nav{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    padding:1em;
}
.burger-menu{
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    transform: scale(0.7);
}
.burger-bar{
    width: 4em;
    height: 0.5em;
    background-color: #2bb0ef;
    border-radius: 0.5em;
}
.menu{
    width:100%;
    height: 60vh;
    background-color: #191919;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 70px;
    left: 0;
    z-index:-1;
    transition: .3s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.hidden{
    display: none;
}
.menu:not(.visible) {
    height: 0;
}
.menu.visible{
    opacity: 1;
    visibility: visible;
}
.mobile-menu-item{
    border-top: 1px solid rgba(37, 37, 37, 0.5);
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    line-height: 55px;
}
.mobile-menu-item:first-child{
    border-top: none;
    padding-top: 0;
}
.mobile-menu-item:last-child{
    padding-bottom: 0;
}
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em,1.25em);
    transition: ease-out .5s;
}
.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out .5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em,1em);
    transition: ease-out 0.5s;
}

.burger-bar.unclicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175,0.885,0.32,1.275) .5s;
}









