html,
body {
    position: relative;
    height: 100%;

}
/*SWİPER BAŞLANGIÇ*/
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-wrapper{
    background-color: transparent!important;

}
.swiper-slide .swiper-slide-active{
    background-color: transparent!important;
}
.swiper-slide .swiper-slide-next{
    background-color: transparent!important;
}
.swiper-pagination {
    bottom: 0 !important;
}
.swiper-pagination-bullet {
    z-index: 11;
    top: 0;
    margin: 0 6px !important;
    color: #000;
    opacity: 1;
    background: transparent!important;
    border: 2px solid gray!important;
    border-radius: 0 !important;
    width: 12px !important;
    height: 12px !important;
    transform: rotate(45deg);
}

.swiper-pagination-bullet-active {
    color: #fff;
    border-color: #2bb0ef!important;
}
/*NEW SWIPER*/
.swiper {
    height: auto;
}
.swiper .swiper-slide {
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.swiper .swiper-slide.bg-color1 {
    background-color: #d6b404;
}
.swiper .swiper-slide.bg-color2 {
    background-color: #7fca83;
}
.swiper .swiper-slide.bg-color3 {
    background-color: #ff8888;
}
.swiper .img-fluid {
    width: 25%;
}


/*SWİPER BİTİŞ*/
.our-pricing-container{
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.our-pricing-container .swiper {
    max-width: 1200px;
}
.our-pricing-thin-explanation{
    font-size: 14px;
    margin-top: 60px;
    font-style: italic;
    color: #545454;
}
.pricing-card-container{
    width: 380px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-card{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    border: 1px solid rgba(84, 84, 84, 0.3);
    border-top: none;
    padding-bottom: 45px;
}
.pricing-card:last-child{
    margin-right: 0;
}
.wrap-plan{
    text-align: center;
    margin-top: -23px;
}
.plan{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    background-color: #2bb0ef;
    padding: 10px 46px;
    position: relative;
    text-align: center;
}
.plan:before{
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -10px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #2bb0ef;
}
.pricing-features{
    padding:44px 60px 0 67px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pricing-right-side .pricing-features-item{
    opacity: .85;
    font-size: 14px;
    margin-bottom: 20.5px;
}
.pricing-right-side .pricing-features-item:last-child{
    margin-bottom: 0;
}
.pricing-left-side{
    font-size: 14px;
    margin-right: 10px;
}
.pricing-right-side{
    margin-left: 10px;
}
.pricing-left-side .icon-type{
    margin-bottom: 20.5px;
}
.pricing-left-side .icon-type:last-child{
    margin-bottom: 0;
}
.pricing-price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-right: 35px;
    position: relative;
}
.turkish-dolar{
    align-items: start;
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
    font-size: 20px;
    margin-right: 3px;
}
.price{
    font-size: 45px;
}
.cta{
    position:relative;
    background-color: #2bb0ef;
}
.cta .pricing-button-area{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #2bb0ef;
    position: absolute;
    bottom:50px;
    opacity: 0;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cta .pricing-button-area a{
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #ffffff;
    text-decoration:none;
}

.pricing-card:hover .cta .pricing-button-area{
    bottom: -50px;
    opacity: 1;
}
.pricing-button-area:hover{
    background-color: #202020;
}



/*IPHONE BAŞLANGIÇ*/
@media only screen and (min-width: 0px) and (max-width: 576px) {
   .our-pricing-container {
       padding: 40px;
   }

}
/*IPHONE BİTİŞ*/
/*IPAD AIR BAŞLANGIÇ*/
@media only screen and (min-width: 768px) and (max-width:992px) {
    .our-pricing-container {
        padding: 40px;
    }
    .pricing-card-container {
        width: 340px;
    }
}
/*IPAD AIR BİTİŞ*/