.our-services-container{
    display: flex;
    justify-content: space-between;
    padding-bottom:150px ;
}
.services-left-section{
    display: flex;
    width: 50%;
}
.services-left-section img{
    width: 100%;
    height:auto ;
    max-height: 600px;
    /*LG EKRANDA MAX WIDTHI KALDIR
     // BÜYÜK EKRANDA MARGİN RİGHT EKLE !
    . */
}
.services-right-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 85px;
}

.thin-services-paragraph{
    margin-top: 80px;
    color: #545454;
    font-style: italic;
    letter-spacing: 1px;
}
.treatments{
    display: flex;
}
.treatments .left-col{
    margin-right: 35px;
    width: 48%;
}
.treatments .right-col{
    width: 48%;
}

.mini-component{
    max-width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.mini-explanation{
    margin-right: 25px;
}
.mini-explanation-title{
    padding-right: 20px;
    text-align: right;
    letter-spacing: 1.2px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
.mini-explanation-title:before{
    position: absolute;
    top: 5px;
    right: -15px;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #202020;
}
.mini-explanation-paragraph{
    letter-spacing: .7px;
    text-align: right;
}
.right-col .mini-component{
    text-align: left!important;
}
.right-col .mini-explanation{
    margin-left:25px ;
}
.right-col .mini-explanation-title{
    padding-left: 40px;
    text-align: left!important;
}
.right-col .mini-explanation-title:before{
    left: 10px!important;
}
.right-col .mini-explanation-paragraph{
    text-align: left!important;
}

/*MEDIA QUERY */
/*IPHONE BAŞLANGIÇ*/
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .our-services-container{
        flex-direction: column;
    }
    .services-left-section{
        width: 100%;
    }
    .services-right-section{
        width: 100%;
    }

    .treatments{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .treatments .left-col , .treatments .right-col{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .treatments .right-col{
        margin-left: 80px;
    }
}

/*IPHONE BITIŞ*/
/*IPAD BAŞLANGIÇ*/
@media only screen and (min-width: 768px) and (max-width:992px) {
    .our-services-container{
        flex-direction: column;
    }
    .services-left-section{
        width: 100%;
    }
    .services-right-section{
        width: 100%;
    }
    .thin-services-paragraph{
        margin-top: 40px;
    }
    .treatments{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .treatments .left-col , .treatments .right-col{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-col .mini-component,.right-col .mini-component{
        max-width: 100%;
    }
}

@media only screen and (min-width: 993px) and (max-width:1400px) {


}