*{
    font-family: sans-serif;
}

.container-we-are{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 100px 170px;
}
.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section{
    width: 50%;
    display: flex;
    justify-content: center;
}
.left-section .border{
    max-height: 430px;
    width: 430px;
    border: 5px solid #2BB0EF;
}
.left-section .border img{
    margin-left: 35px;
    margin-top: 35px;
}
.right-section{
    width: 50%;
}
.container-we-are .welcome-section{
    font-size: 18px;
    letter-spacing: .4px;
    font-weight: 500;
    margin-bottom: 15px;
}
.we-are-title{
    font-size:45px ;
    font-weight: 700;
    letter-spacing: 5px;
}
.we-are-title-line{
    margin-top: 20px;
    margin-bottom: 20px;
    content: '';
    width: 101px;
    height: 20px;
    background: url("../image/lines.jpg");
}
.we-are-paragraph{
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
}
.we-are-paragraph:last-child{
    margin-top: 30px;
    margin-bottom: 40px;
}

.we-are-bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    width: 90%;
    margin-left:auto ;
    margin-right: auto;


}
.we-are-bottom-container{
    display: flex;
    margin-top: 100px;
}

.item .box{
    border: 1px solid #2BB0EF;
    transform: rotate(-45deg);
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
   width: 70px;
    height: 70px;
}
.item .box .box-content{
    color: white;
    align-items: center;
    height: 62px;
    display: flex;
    justify-content:center ;
    width: 62px;
    background: #2BB0EF;
    border: 1px solid #2BB0EF;
}
.box-content-icon{
    transform: rotate(45deg);
}
.we-are-bottom-section .numbers{
    margin-left: 30px;

}
.we-are-bottom-number{
    font-size: 40px;
    font-weight: 700;
}
.we-are-bottom-explanation:before{
    position: absolute;
    left: -25px;
    top: 8px;
    height: 2px;
    width: 20px;
    background-color: #202020;
    content: "";

}
.we-are-bottom-explanation{
    position: relative;
    margin-left: 30px;
    font-size: 13px;
    color: #545454;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

    .container-we-are{
        padding: 0;
        margin-left: 10px ;
    }
    .container-we-are .left-section{
        display: block;
        width: 100%;
        margin-top: 30px;
    }
    .left-section .border{
        width: 90%;
        border:3px solid #11adf3;
        max-height: 300px!important;
    }
    .left-section .border img{
        margin: 0;
        width: 100%;
        margin-left: 35px;
        margin-top: 35px;
    }
    .container-we-are .right-section{
        width: 100%;
        margin-top: 110px;
    }
    .container-we-are .top-section{
        flex-direction: column;
    }

    .left-section .border{
        max-height:100%;
    }
    .we-are-bottom-section{
        flex-direction: column;
    }
    .right-section .button-side{
        margin: 0!important;
    }
    .welcome-section {
        letter-spacing: 1px!important;
        font-size: 14px!important;
        color: #545454;
    }
    .we-are-title{
        margin-top: 10px;
        font-size: 27px!important;
        letter-spacing: normal;
    }
    .we-are-paragraph{
        line-height: 25px;
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
    }
    .we-are-bottom-section{
        align-items: start;
        margin-top: 10px;
    }
    .we-are-bottom-container{
        margin-top: 35px;
    }
    .we-are-bottom-section .we-are-bottom-number{
        font-size: 25px;
    }
}
@media only screen and (min-width: 768px) and (max-width:992px) {
    .container-we-are{
        width: 750px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto ;
    }
    .container-we-are .left-section{
        display: block;
        width: 100%;
        margin-top: 30px;
    }
    .left-section .border{
        width: 50%;
        border:3px solid #11adf3;
        max-height: 300px!important;
    }
    .left-section .border img{
        margin: 0;
        width: 70%;
        margin-left: 35px;
        margin-top: 75px;
    }
    .container-we-are .right-section{
        width: 100%;
        margin-top: 110px;
    }
    .container-we-are .top-section{
        flex-direction: column;
    }

    .left-section .border{
        max-height:100%;
    }
    .we-are-bottom-section{
        flex-direction: column;
        width: 95%;
    }
    .right-section .button-side{
        margin: 0!important;
    }
    .welcome-section {
        letter-spacing: 1px!important;
        font-size: 14px!important;
        color: #545454;
    }
    .we-are-title{
        margin-top: 10px;
        font-size: 27px!important;
        letter-spacing: normal;
    }
    .we-are-paragraph{
        line-height: 25px;
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
    }
    .we-are-bottom-section{
        align-items: start;
        margin-top: 10px;
    }
    .we-are-bottom-container{
        margin-top: 35px;
    }
    .we-are-bottom-section .we-are-bottom-number{
        font-size: 25px;
    }

}

@media only screen and (min-width: 993px) and (max-width:1400px) {


}